@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body{
	font-family: 'Raleway';
}
h1{
	font-size: 3vw;
}

h2{
	font-size:2.2vw;
}

h3{
	font-size:1.7vw;
	font-weight: bold;
	text-decoration: underline;
}

.photo {
    max-width: 70%;
    height: auto;
    display: block;

    margin-left: auto;
 	margin-right: auto;
	width: 50%;
}

.linkedin{
	max-width: 10%;
	height:auto;
	display: block;
}

div#colonne1 {
	float: left;
	width: 20%;
	height: auto;
	margin-right: 10px;
	/*background: lightblue*/;
}
div#colonne2 {
	float: right;
	width: 35%;
	/*background: burlywood*/;
	 
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
div#centre {
	overflow: hidden;
	/*background: khaki*/;
}

table{
	border-spacing: 10px;
}

mark{
	font-size: 1.2vw;
	background-color: transparent;
	font-weight: bold;
}

em{
	font-size: 0.8vw;
	font-weight: italic;
}

th{
	font-size: 1vw;
	font-size: 0.9vw;
}

p{
	font-size: 1.15vw;
	margin-bottom: 2vw;
}

.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

#form{
	text-align: center; 
}